.container-fluid{
    background-image: url('../img/day.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.sign_in,.login{
    padding: 0.5em 1em;
    font-weight: bold;
    margin-left: 1em;
}

.nav-item:hover{
    color: white;
    text-decoration: underline;
}

.login:hover,
.sign_in:hover{
    background-color: grey;
    color: white;
}